<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
     <add name="EstudioCapraEntitiesLocal" connectionString="metadata=res://*/Models.EstudioCapraEntities.csdl|res://*/Models.EstudioCapraEntities.ssdl|res://*/Models.EstudioCapraEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=26106c12-ccd7-4908-8a5a-a623016c4c18.sqlserver.sequelizer.com;Database=db26106c12ccd749088a5aa623016c4c18;User ID=dmzjnotmpsfclsjt;Password=GDoi5cwqeBCuNdYJK3oqttN7eodjr5zYnQdN6PuQrJ3vwmZxqt4BoFjoXqeQ8n8h;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
     <add name="EstudioCapraEntitiesLocal_BK" connectionString="metadata=res://*/Models.EstudioCapraEntities.csdl|res://*/Models.EstudioCapraEntities.ssdl|res://*/Models.EstudioCapraEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NOTEBOOK-LEO;initial catalog=EstudioCapra;Trusted_Connection=Yes;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="LocalConnectionStringName" value="EstudioCapraEntitiesLocal" />
    <add key="WebConnectionStringName" value="EstudioCapraEntities" />
    <add key="SQLSERVER_URI" value="sqlserver://dmzjnotmpsfclsjt:GDoi5cwqeBCuNdYJK3oqttN7eodjr5zYnQdN6PuQrJ3vwmZxqt4BoFjoXqeQ8n8h@26106c12-ccd7-4908-8a5a-a623016c4c18.sqlserver.sequelizer.com/db26106c12ccd749088a5aa623016c4c18" />
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthenticationModule" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>