<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="EstudioCapraEntities" connectionString="data source=NOTEBOOK-LEO;initial catalog=EstudioCapra;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="EstudioCapraEntitiesLocal" connectionString="data source=NOTEBOOK-LEO;initial catalog=EstudioCapra;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="LocalConnectionString" value="data source=NOTEBOOK-LEO;initial catalog=EstudioCapra;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" />
    <add key="LocalConnectionStringName" value="EstudioCapraEntitiesLocal" />
    <add key="WebConnectionStringName" value="EstudioCapraEntities" />
    <add key="SQLSERVER_URI" value="sqlserver://dmzjnotmpsfclsjt:GDoi5cwqeBCuNdYJK3oqttN7eodjr5zYnQdN6PuQrJ3vwmZxqt4BoFjoXqeQ8n8h@26106c12-ccd7-4908-8a5a-a623016c4c18.sqlserver.sequelizer.com/db26106c12ccd749088a5aa623016c4c18" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>