<configuration>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
  <connectionStrings>
    <add name="EstudioCapraEntities" connectionString="data source=NOTEBOOK-LEO;initial catalog=EstudioCapra;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="EstudioCapraEntitiesLocal" connectionString="data source=NOTEBOOK-LEO;initial catalog=EstudioCapra;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"/>
  </connectionStrings>
  <appSettings>
    <add key="LocalConnectionString" value="data source=NOTEBOOK-LEO;initial catalog=EstudioCapra;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"/>
    <add key="LocalConnectionStringName" value="EstudioCapraEntitiesLocal" />
    <add key="WebConnectionStringName" value="EstudioCapraEntities" />
    <add key="SQLSERVER_URI" value="sqlserver://dmzjnotmpsfclsjt:GDoi5cwqeBCuNdYJK3oqttN7eodjr5zYnQdN6PuQrJ3vwmZxqt4BoFjoXqeQ8n8h@26106c12-ccd7-4908-8a5a-a623016c4c18.sqlserver.sequelizer.com/db26106c12ccd749088a5aa623016c4c18" />
  </appSettings>
</configuration>
