<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!--
    Configure your application settings in appsettings.json. Learn more at http://go.microsoft.com/fwlink/?LinkId=786380
  -->
  <connectionStrings>
    <add name="EstudioCapraEntities" connectionString="data source=NOTEBOOK-LEO;initial catalog=EstudioCapra;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"/>
    <add name="EstudioCapraEntitiesLocal" connectionString="data source=NOTEBOOK-LEO;initial catalog=EstudioCapra;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"/>
  </connectionStrings>
  <appSettings>
    <add key="LocalConnectionStringName" value="EstudioCapraEntitiesLocal" />
    <add key="WebConnectionStringName" value="EstudioCapraEntities" />
    <add key="LocalConnectionString" value="data source=NOTEBOOK-LEO;initial catalog=EstudioCapra;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"/>
    <add key="SQLSERVER_URI" value="sqlserver://dmzjnotmpsfclsjt:GDoi5cwqeBCuNdYJK3oqttN7eodjr5zYnQdN6PuQrJ3vwmZxqt4BoFjoXqeQ8n8h@26106c12-ccd7-4908-8a5a-a623016c4c18.sqlserver.sequelizer.com/db26106c12ccd749088a5aa623016c4c18" />
  </appSettings>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" forwardWindowsAuthToken="false"/>
  </system.webServer>
</configuration>
