@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Estudio Capra</h1>
    <p class="lead">WebSite para la Web App! A este mismo sitio le vamos a dar acceso a Ruben para que vaya viendo los avances, hace lo que dice abajo así estamos listos para empezar! Además hay que aprender MVC principalmente!</p>
    <p><a href="http://www.asp.net/mvc/mvc5" class="btn btn-primary btn-large">Aprender MVC! &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>GitHub!</h2>
        <p>
            Mati CRACKKKKK para el versionado de codigo vamos a usar GitHub, es abierto y muy simple. Hacete un usuario y bajate el
            el cliente. Ya cree el repositorio y sos contributor.
        </p>
        <p><a class="btn btn-default" href="https://github.com/">GitHub! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>VisualStudio 2013</h2>
        <p>Para desarrollar C# vamos a usar VisualStudio la version 2013, bajatelo con torrent o algo!</p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>Para hostear el sitio usamos AppHarbor, un sitio muy simple que conoci hoy y te permite hostear de forma gratuita pero limitada una app en la nube.
           Create una cuenta tambien. Ya hostee la aplicación y sos contributor. </p>
        <p><a class="btn btn-default" href="https://appharbor.com">AppHarbor! &raquo;</a></p>
    </div>
</div>