@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<p class="copyright">
    2016 &copy; EstudioCapra
</p>
<a href="#index" class="go2top">
    <i class="icon-arrow-up"></i>
</a>